main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/imgs/galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.glass-container {
  width: min(90%, 600px);
  height: clamp(10px, 90%, 350px);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

form > h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #FFF;
}

/* Input */
.input-container {
  position: relative;
  margin: 0 auto 15px;
  width: 90%;
}

.input-container input[type="text"] {
  font-size: 2rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #FFF;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -25px;
  font-size: 2rem;
  color: #7d13ee;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #7d13ee;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.input-container input[type="text"]::placeholder {
  opacity: 0;
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus::placeholder,
.input-container input[type="text"]:valid::placeholder {
  opacity: 1;
}

/* Button */
.sigin {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: #7d13ee;
  /* background: #6a5bcd; */
  padding: 16px 32px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.sigin:hover {
  filter: brightness(110%);
}

.sigin:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.sigin:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.sigin:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.sigin:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.sigin:focus:not(:focus-visible) {
  outline: none;
}
